body {
    font-family: Arial, sans-serif;
}

#openFormButton {
    margin-bottom: 20px;
}

#item-list {
    margin-top: 20px;
    list-style-type: none;
}

.nombre {
    color: #20512d;
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    display: block;
    border: 2px solid #20512d;
    border-radius: 8px;
}

.popup-content label {
    padding: 8px;
    display: block;
    color: #20512d;
}

.popup-content select {
    padding: 8px;
    width: 100%;
    margin: 0px auto;
    
}

.popup-content input {
    padding: 8px;
    margin: 0px 8px;
}

.popup-content button {
    padding: 8px;
    margin: 8px;
    background-color: #20512d;
    color: #fff;
    border-radius: 2px;
    float: left;
    
}

.popup-content button:hover {
    cursor: pointer;
    background-color: #16371f;
}

#closeFormButton {
    float: right;
    cursor: pointer;
}

#closerFormButton:hover {
    background-color: red;
}

.btns {
    padding: 8px;
    margin: 8px;
    background-color: #20512d;
    color: #fff;
    border-radius: 2px;
}

.btns:hover {
    cursor: pointer;
    background-color: #16371f;
}

form {
    border: 1px solid red;
    margin: 0 auto; /* Centra el formulario */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 500px; /* Establece un límite en pantallas más grandes */
    box-sizing: border-box;
}

.registros {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid blue;
}

.registros ul {
    border: 1px solid yellow;
    margin: 0 auto; /* Centrará el 'ul' */
    max-width: 100%; /* Se ajusta a pantallas más pequeñas */
    padding: 0; /* Remueve cualquier padding que pueda desbordarse */
    box-sizing: border-box;
    
}

.registros li {
    background-color: #20512d;
    color: #fff;
    border: 1px solid red;    
    text-align: left;
    padding: 8px; /* Reducir el padding si es necesario */
    max-width: 100%; /* Que ocupe todo el ancho del contenedor */
    margin: 8px 0; /* Márgenes verticales para separar las `li` */
    box-sizing: border-box;
    
    
}

.swal2-confirm {
    background-color: #20512d;
}

.swal2-confirm:hover {
    background-color: #16371f;
}

@media (max-width: 550px) {
    .registros ul {
        margin: 10px; /* Reduce el margen para pantallas pequeñas */
        max-width: 100%; /* Asegura que no desborde */
    }
    
    .registros li {
        padding: 10px; /* Ajusta el padding */
        max-width: 100%; /* Que ocupe todo el ancho disponible */
        margin: 10px 0; /* Márgenes verticales */
    }
}